<main class="bg-gradient-to-tl from-[#640D6B] via-[#B51B75] via-[#E65C19] to-[#F8D082] w-full h-[100vh] flex justify-center items-center">

  <main class="flex flex-col bg-[#000000] bg-opacity-50 rounded-xl  w-[400px] h-[90vh] md:h-[70vh] md:w-[60%] lg:w-[50%] lg:h-[85vh]">
    <section class="flex items-center justify-between text-white p-[10px]">

      <section class="flex">
        <div class="w-[15px] h-[15px] bg-[#FF3C3C] rounded-[100%] hover:opacity-50 cursor-pointer ease-in-out duration-300"></div>
        <div class="w-[15px] h-[15px] bg-[#FFEB3B] rounded-[100%] mx-[5px] hover:opacity-50 cursor-pointer ease-in-out duration-300"></div>
        <div class="w-[15px] h-[15px] bg-[#4BFF3C] rounded-[100%] hover:opacity-50 cursor-pointer ease-in-out duration-300"></div>
      </section>
      <section> 
        <h1 class="text-xl font-Main hover:text-[#cccccc] hover:cursor-pointer ease-in-out duration-500 hover:scale-110">Lisa</h1>
      </section>
      <section class="px-[5px]">
        <button><i class="fa-solid fa-ellipsis text-xl md:text-2xl hover:text-[#cccccc] ease-in-out duration-500"></i></button>
      </section>

    </section>
    <hr class="w-full opacity-50">

    <section class="w-full h-full flex flex-col justify-between overflow-y-scroll mainseqcia">

      <section class="flex flex-col w-full p-[10px] justify-center items-center h-[50vh] font-Main text-white opacity-50 " *ngIf="ChatArr.length>1?false:true">
        <h1 class="text-xl md:text-2xl">Start chatting with Lisa</h1>
        <h3 class="text-md md:text-xl">Type "Commands" to see Commands</h3>
        <p>Made by Lazare Mirziashvili</p>
      </section>

      <section class="w-full h-full overflow-y-scroll font-Main p-[10px] text-white md:text-xl flex flex-col justify-end forScrollbar">
        <section *ngFor="let chat of ChatArr" class="w-full flex mb-2" [ngClass]="{'justify-start': chat.sender === 'Lisa', 'justify-end': chat.sender === 'Me'}">
          <p class="p-2 rounded-lg max-w-xs">
            {{ chat.sender }}: <span class="lg:text-2xl">{{ chat.message }}</span>
          </p>
        </section>
      </section>

      <section class="flex w-full justify-end items-end p-[10px] relative opacity-80 ">
        <input type="text" class="w-full p-[5px] rounded-l outline-none flex justify-center" name="MyMsg" [(ngModel)]="MyMsg">
        <button class="bg-[#ffffff] p-[5px] rounded-r" (click)="Submit()"><i class="fa-solid fa-arrow-up text-xl hover:text-[#cccccc] ease-in-out duration-300"></i></button>
      </section>

    </section>

  </main>

</main>